/* Reset gaya dasar */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h1{
    /* font-family: 'Times New Roman', Times, serif; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em; 
}


header {
    /* background: #333; */
    background: rgb(245, 248, 248);
    color: #4b4248;
    padding: 2em;
    /* margin: 2em; */
    text-align: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 2em;
}

#home, #profil, #galeri, #kontak {
    margin-bottom: 2em;
}

.gallery {
    display: flex;
    gap: 1em;
}

.gallery img {
    width: 300px;
    height: 250px;
    border-radius: 8px;
}

footer {
    background: #333;
    color: #f5f6f7;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}
